Requirement already satisfied: django-rosetta in /usr/local/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: Django>=4.2 in /usr/local/lib/python3.9/site-packages (from django-rosetta) (4.2.7)
Requirement already satisfied: polib>=1.1.0 in /usr/local/lib/python3.9/site-packages (from django-rosetta) (1.2.0)
Requirement already satisfied: requests>=2.30.0 in /usr/local/lib/python3.9/site-packages (from django-rosetta) (2.31.0)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.9/site-packages (from Django>=4.2->django-rosetta) (0.4.4)
Requirement already satisfied: asgiref<4,>=3.6.0 in /usr/local/lib/python3.9/site-packages (from Django>=4.2->django-rosetta) (3.7.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests>=2.30.0->django-rosetta) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests>=2.30.0->django-rosetta) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests>=2.30.0->django-rosetta) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/site-packages (from requests>=2.30.0->django-rosetta) (3.3.2)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.9/site-packages (from asgiref<4,>=3.6.0->Django>=4.2->django-rosetta) (4.8.0)
